# Testing settings

# account for development environment
FINKOK_USERNAME="your.email@host.com"

# the password of your development account
FINKOK_PASSWORD="the-secret-password"

# integration account (something like SN99999999)
FINKOK_SNID="SN99999999"

# if enabled, will search for an RFC XDEL000101XX1 changing date until found one non existent to be created
FINKOK_REGISTRATION_ADD_CREATE_RANDOM_RFC="1"

# if enabled, will log request and responses on build/test directory
FINKOK_LOG_CALLS="0"

# time out in seconds to stop retry on long tests
FINKOK_LONGTEST_TIMEOUT="300"
